*{
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.bag{
    margin: 0 auto;
    text-align: center;
    background:black;
}

a{
    color: yellow;
}

h1{
    font-size: 45px;
    letter-spacing: 3px;
    font-weight: 600px;
    border: 5px solid silver;
    color: gold;
    background: linear-gradient(black, 70%, red);
}

.gip1{
    margin: 0 auto;
    color: red;
    text-decoration: underline;
    letter-spacing: 3px;
    font-size: 30px;
    padding: 8px 0px 15px;
    text-transform: uppercase;
}

.gip2{
    padding: 10px;
    margin: 0 auto;
    font-size: 20px;
    text-align: justify;
    color: #8f0000;
    width: 1200px;
}

.gip3{
    letter-spacing: 2px;
    font-size: 25px;
    padding: 0px 0px 10px;
    color: rgb(141, 0, 0)
}
.gip4{
    width: 1200px;
    margin: 0 auto;
    font-size: 20px;
    background: firebrick;
    color: white;
    text-align: justify;
    padding: 10px;
}

.carbon1{
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: underline;
    padding: 8px 0px 15px
    font-size: 30px;
}

.carbon2{
    color: aqua;
    margin: 0 auto;
    width: 1200px;
    font-size: 20px;
    text-align: justify;
}

.carbon3{
    letter-spacing: 2px;
    color: rgb(147, 106, 213);
    font-size: 25px;
    padding: 10px 0px 10px;
}

.carbon4{
    text-align: justify;
    width: 1200px;
    margin: 0 auto;
    font-size: 20px;
    background-color: #35c3e7;
    color: blue;
    padding: 10px;
}

.sheep1{
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: underline;
    padding: 8px 0px 15px
    font-size: 30px;
}

.sheep2{
    margin: 0 auto;
    width: 1200px;
    font-size: 20px;
    text-align: center;
    color: #095b14;
    text-align: justify;
}

.sheep3{
    font-size: 25px;
    padding: 10px 0px 5px;
    color: forestgreen;
    letter-spacing: 2px
}

.sheep4{
    text-align: justify;
    margin: 0 auto;
    width: 1200px;
    font-size: 20px;
    background-color: #095b14;
    color: #04ff00;
    padding: 10px;
}