@import url('reset.css');

@font-face {
    font-family: 'Montserrat';
    src: url('../Fonts/montserrat/Montserrat-Regular.woff') format('woff2'),
        url('Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../Fonts/open-sans/OpenSansCondensed-Regular.woff') format('woff2'),
        url('OpenSansCondensed-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/roboto/Roboto-Regular.woff') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



.container {
    max-width: 1200px;
    margin: 0 auto
}

.header_menu {
    background: #000;
    padding: 20px 0;
}

.header_list {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-family: 'Roboto';
    font-weight: 400;
}

.header_list a {
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
    padding: 10px 20px;
    background: orange;
    display: block;
}

.header_list li{
    position: relative;
    }
    
.header_list li:hover .header_second_list{
    display: block;
}

.header_second_list{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding-top: 20px;
    font-family: 'Montserrat';
    font-weight: 400;
}

.header_second_list a {
    background: red;
}

.header_second_list li{
    position: relative;
    }

.header_second_list li:hover .header_second_list_table{
    display: block;
}

.header_second_list_table{
    position: absolute;
    top: 0;
    right: 100%;
    display: none;
    font-family: 'Open Sans Condensed';
    font-weight: 400;
}

.header_second_list_table a {
    background: green;
    white-space: nowrap;
}



/* global styles */
body {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.container_1100 {
	width: 1100px;
	margin: 0 auto;
}

/* HEADER */
.header {
	background: #000;
	color: aliceblue;
	text-align: center;
	padding: 20px 0;
}

.header h1 {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 20px;
}
.header a {
	color: antiquewhite;
	font-size: 18px;
	text-decoration: none;
}

/* MAIN TABLE */
.table-data {
	margin: 30px 0;
	width: 100%;
	border-style: hidden;
	border-radius: 8px;
	box-shadow: 0 0 0 1px #e4e4ef;
}

.table-data th,
.table-data td {
	border-top: 1px solid #e4e4ef;
}

.user, .email {
	width: 400px;
}
.phone {
	width: 160px;
}

.table-data th {
	padding: 18px 16px;
	text-align: left;
	font-weight: 700;
	/* width: 400px; */
}

.table-data td {
	padding: 8px 16px;
	vertical-align: middle;
}

.table-data td p + p {
	font-size: 12px;
	line-height: 20px;
	color: #808080;
}

.text-center {
	text-align: center;
}

.btn {
	color: #BDBCDB;
	background: #F8F9FB;
	font-size: 12px;
	padding: 8px 24px;
	cursor: pointer;
	border-radius: 12px;
}

.btn.primary {
	color: #605DEC;
	background: #EDEDFE;
}

.btn.success {
	background: #EBF6EB;
	color: #31AA27;
}

.btn.warning {
	background:#FFF4E4;
	color: #E99518;
}

.btn.error {
	color: #F93232;
	background: #FFF0F0;
}

/* Mondriana */

.mondriana{
	font-size: 45px;
	margin: 10px auto;;
}

.mondriana td{
	border: 4px solid red;
	text-align: center;
	width: 150px;
	height: 100px;
}

/* Float */

.wrap{
    flex-wrap: wrap;
}
.nonwrap{
    flex-wrap: nowrap;
}
.column{
    flex-direction: column;
}
.flex {
	display: flex;
}
.i-block {
	display: inline-block;
}
.float {
	float: left;
}
.fz-0 {
	font-size: 0;
}
.fz-20 {
	font-size: 20px;
}
.w-400 {
	width: 400px;
}
.w-800 {
	width: 800px;
}
.h-100 {
	height: 100px;
}
.h-133 {
	height: 133.33px;
}
.h-200 {
	height: 200px;
}
.h-400 {
	height: 400px;
}

.outline {
	outline: 2px solid red;
}
.bg-blue {
	background: blue;
}
.bg-violet {
	background: violet;
}
.bg-green{
    background: green;
}

.inline{
    display: inline-block;
}

.fontsize-0{
    font-size: 0;
}

.fontsize-18{
    font-size: 18px;
}