@import url('reset.css');

.container{
    width: 1200px;
    margin: 0 auto;
}

.container  div {
    outline: 2px solid red;
}
.first_block {
    background: rgb(56, 56, 255);
    margin: 15px 0 0 0;
}


.clearfix::after{
    content: '';
    clear: both;
    display: block;
}

.first_child{
    width: 400px;
    height: 400px;
    float: left;
}

.second_block{
    background: greenyellow;
}


.second_block_left{
    float: left;
}

.second_child_left{
    width: 800px;
    height: 200px;
}
.second_block_right{
    float: right;
}

.second_child_right{
    width: 400px;
    height: 133.333px;
}

.third_block{
    background: orange;
}

.third_block_left{
}
.third_block_left {
    width: 400px;
    height: 400px;
    float: left;
}

.third_block_right{
    width: 800px;
    height: 400px;
    float: right;
}

.third_block_r_up{
    width: 800px;
    height: 200px;
}

.third_block_r_but{
    width: 800px;
    height: 200px;
    float: right;
}

.third_block_r_l_but{
    width: 400px;
    height: 200px;
    float: left;
}

.third_block_r_r_but > div {
    width: 400px;
    height: 100px;
    float: right;
}

